<h2>Sign in</h2>

<form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder="Enter username">

    <label for="password"><b>Password</b></label>
    <input type="text" name="password" placeholder="Enter password">

    <input type="submit" value="Login" class="btn">
</form>


<!-- <h2>Register</h2>

<form action="/register" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username">

    <label for="password">Password</label>
    <input type="text" name="password" placeholder="Password">

    <input type="submit" value="Register" class="btn">
    
</form> -->